{% extends "index.html" %}
{% load i18n %}
{% block content_slider %}
{% endblock %}

{% block content_cat %}
{% endblock %}


{% block content_product %}

    <h> Login</h>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
        </table>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="/products" />

    </form>
    <a href="/register">Register</a>


{% endblock %}

{% block footer %}
{% endblock %}